#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70%;

  margin-top: 80px;
}
#container img {
  width: 100%;
}

#imgsection {
  position: relative;
  width: 100%;
}
#imgsection img {
  width: 100%;
}

#text {
  position: absolute;
  top: 170px;
  left: 570px;
  color: white;
  font-size: 50px;
  width: 40%;

  align-items: center;
}
#text1 {
  position: absolute;
  top: 230px;
  left: 500px;
  color: white;
  font-size: 50px;
  width: 40%;

  align-items: center;
}
#text4 {
  position: absolute;
  color: white;
  margin: 1%;
  margin-left: 2%;
  display: flex;
}
#home {
  color: grey;
}
h6 {
  padding: 5px;
}

#dashboard {
  width: 30%;
}
#main {
  display: flex;
}
#featured {
  display: flex;
  margin-left: 1150px;
  gap: 10px;
}
#featured select,
option {
  width: 30px;
  border: 1px solid white;
  margin: 10px;
}
.dis_mar {
  margin: 10px 0px;
}

#container div {
  text-align: center;
}
#container h3 {
  font-weight: 700;
}
#container h4 {
  margin-top: -3px;
  color: blue;
  font: bolder;
  display: inline;
  margin: 4px;
}
h4 + h4 {
  text-decoration: line-through;
}
#dashboard {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#Dashboard_box {
  margin-left: 30px;
  border-top: none;
  border-bottom: none;
}
#dashboard div {
  height: 60px;
  border-right: none;
  border-left: none;
  border: 1px solid rgb(226, 226, 226);
  border-left: none;
  border-right: none;
}
#dasbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#dasbox2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#dasbox3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#dasbox4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#dasbox #heading {
  margin-right: 200px;
  width: 100%;
}
#dasbox #option {
  margin-top: 17px;
  border: white;
}
#dasbox2 #heading {
  margin-right: 20px;
  width: 100%;
}
#dasbox2 #option {
  margin-top: 17px;
  border: white;
}
#dasbox3 #heading {
  margin-right: 200px;
  width: 100%;
}
#dasbox3 #option {
  margin-top: 17px;
  border: white;
}
#dasbox4 #heading {
  margin-right: 160px;
  width: 100%;
}
#dasbox4 #option {
  margin-top: 17px;
  border: white;
}
#container h4 + h4 {
  color: gray;
}
#img2 {
  background-color: blue;
}
#dashboard_box + div {
  border-top: white;
}

option {
  padding: 5%;
}
#dummy {
  height: 70px;
  width: 50%;
  padding: -25px;
}
#selectitem {
  width: 25px;
  border: none;
}
#slider {
  background-color: gainsboro;
  display: flex;
}
#slider div {
  margin: auto;
}
#slider div img {
  height: 150px;
  width: 150px;
}
.zo0m {
  padding: 50px;
  background-color: green;
  transition: transform 0.2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(4);
  -webkit-transform: scale(4);
  transform: scale(1.1);
}
.mainimg {
  transition: transform 0.2s;
}
.mainimg:hover {
  -ms-transform: scale(4);
  -webkit-transform: scale(4);
  transform: scale(1.1);
}

#Slider_Container {
  display: flex;
  flex-direction: row;
  height: 300px;
  align-items: center;
  justify-content: center;
}
#slider {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  justify-content: space-evenly;
}

#slider div {
  width: 60%;
  margin: 0px 10px;
}
